<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisadores</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">    
</head>
<body>
	<div th:replace="layout/header :: headerFragment"></div>
	<div th:replace="layout/menu :: menuFragment"></div>

	<div id="content">
	
    <div class="container">
        <h3>Listagem de Pesquisadores</h3>
        
        <a href="pesquisadores/add" class="btn-sm btn-primary"><i class="fas fa-plus"></i></a>

        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>                
                    <th>Salário</th> 
					<th>Cidade/UF</th>                                                       
					<th>Ações</th>
                </tr>
            </thead>
            <tbody>
               <tr th:each="pesquisador : ${pesquisadores}">
               		<td th:text="${pesquisador.id}"></td>
                   	<td th:text="${pesquisador.nome}"></td>
                   	<td th:text="${#numbers.formatCurrency(pesquisador.salario)}"></td>
                   	<td></td>
                   	<td>
                   		<a class="btn-sm btn-primary" th:href="@{/pesquisadores/update/{id}(id=${pesquisador.id})}">Editar</a>
	                   	<a class="btn-sm btn-danger" th:href="@{/pesquisadores/delete/{id}(id=${pesquisador.id})}">Excluir</a>
                   	</td>               
               </tr>                       
            </tbody>
        </table>        
    </div>
    </div>
    
    <div th:replace="layout/footer :: footerFragment"></div>
</body>
</html>